header {
	text-align: center;
	/*background-color: #ffe5b3;*/
	background-color: #ffeecc;
	padding: 20px;
	padding-bottom: 30px;
}

.container {
	padding-left: 325px;
}

footer {
	background-color: #8cd9b1;
	margin-bottom: 100px;
	margin-right: 600px;
	padding-left: 7px;
}

	




