body {
	background-color: #e6e6e6;
}

header {
	text-align: center;
	background-color: #ffe5b3;
	/*background-color: #ffeecc;*/
	padding: 20px;
	padding-bottom: 30px;
}

.container {
	padding-left: 260px;
	padding-top: 50px;
}

footer {
	background-color: #8cd9b1;
	float: left;
	margin-top: 25px;
	padding-right: 50px;
	padding-left: 15px;
	padding-bottom: 600px;	
}

.tags {
	color: #ffe5b3;
}

.response {
	color: white;
	font-size: 12px;
}


	




